.navbarContainer {
    background-color: #fcfcfc;
    border-top: 10px solid #112bbd;
}

.navbarList{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.navbarContainer ul {
    list-style: none;
}

.navbarLink {
    transition: all 0.4s ease 0s;
    font-size: 16px;
    padding: 5px 20px;
    color: #556af5;
    text-decoration: none;
    font-weight: regular;
}

.navbarLink:hover {
    background-color:#556af5;
    border-radius: 5px;
    font-size:17px;
    color: #fff;
    transition: all;
    font-weight: 500;
}

.navbarItem {
    padding: 0 6px;
    margin: 6px;
}

a.active {
    border-bottom: 2px solid #112bbd;
    color:#112bbd;
    transition: all;
    font-weight: bolder;
}